<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>com.velouracinema.listener.BookingCleanupTaskListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>StaffDao</servlet-name>
        <servlet-class>com.velouracinema.dao.StaffDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.booking.BookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.payment.PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookingServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.booking.EditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEditBookingServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.booking.ProcessEditBookingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentProcess</servlet-name>
        <servlet-class>com.velouracinema.controller.payment.PaymentProcessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>com.velouracinema.controller.home.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>memberServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>staffServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMovieServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.movie.ManageMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.booking.ReviewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.payment.UpdatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageMemberServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.user.ManageMemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopMovieServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.movie.TopMovieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupportServlet</servlet-name>
        <servlet-class>com.velouracinema.controller.support.SupportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testServlets</servlet-name>
        <servlet-class>testServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffDao</servlet-name>
        <url-pattern>/StaffDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/payment</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>409</error-code>
        <location>/WEB-INF/views/error/409.jsp</location>
    </error-page>
    <!--    <error-page>
        <location>WEB-INF/views/error/error.jsp</location>
    </error-page>-->
    <servlet-mapping>
        <servlet-name>EditBookingServlet</servlet-name>
        <url-pattern>/editBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessEditBookingServlet</servlet-name>
        <url-pattern>/processEditBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentProcess</servlet-name>
        <url-pattern>/paymentProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>memberServlet</servlet-name>
        <url-pattern>/member</url-pattern>
        <url-pattern>/viewBookingHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>staffServlet</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMovieServlet</servlet-name>
        <url-pattern>/viewMovies</url-pattern>
        <url-pattern>/addMovie</url-pattern>
        <url-pattern>/editMovie</url-pattern>
        <url-pattern>/deleteMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewPaymentServlet</servlet-name>
        <url-pattern>/reviewPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentServlet</servlet-name>
        <url-pattern>/updatePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffServlet</servlet-name>
        <url-pattern>/viewStaff</url-pattern>
        <url-pattern>/addStaff</url-pattern>
        <url-pattern>/updateStaff</url-pattern>
        <url-pattern>/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageMemberServlet</servlet-name>
        <url-pattern>/viewMember</url-pattern>
        <url-pattern>/addMember</url-pattern>
        <url-pattern>/updateMember</url-pattern>
        <url-pattern>/deleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopMovieServlet</servlet-name>
        <url-pattern>/updateTopMovie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupportServlet</servlet-name>
        <url-pattern>/viewSupport</url-pattern>
        <url-pattern>/updateSupport</url-pattern>
        <url-pattern>/submitSupport</url-pattern>
        <url-pattern>/deleteSupport</url-pattern>
        <url-pattern>/support</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
